.homePageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/svg/clothes-store.svg");
  background-color: #f2dccf;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.shopNowLink {
  align-self: center;
  width: fit-content;
  margin-top: 400px;
  background-color: #ef9102;
  border-radius: 10px;
  padding: 7px;
  transition: transform 0.2s ease-in-out;
}

.shopNowLink:hover {
  transform: scale(1.1);
  background-color: green;
}

@media (max-width: 550px) {
  .shopNowLink {
    margin-top: 120px;
    margin-right: 40px;
    border: 2px solid white;
  }
}