html,
body {
  background-color: #f2dccf;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.itemPageImg {
  width: 200px;
  height: auto;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 20px;
}

.itemInfoContainer {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  margin: 0px 30px auto;
  padding: 0px 20px 20px;
}

.itemTitle {
  font-size: 30px;
}

.ratingContainer {
  margin-top: 10px;
}

.itemPrice {
  font-size: 24px;
  font-weight: 900;
  margin-top: 10px;
}

.aboutTitle {
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 15px;
}

.itemDescription {
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
}


.quantityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.totalContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.totalTitle,
.total {
  font-size: 25px;
  font-weight: 700;
}

.btnItemQuantity {
  display: flex;
  padding: 5px 0px 15px;
}

.btnAdd,
.btnSubtract {
  width: 40px;
  height: 30px;
  background-color: white;
  border: 2px solid rgb(23, 207, 75);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.btnSubtract {
  border: 2px solid rgb(88, 88, 88);
}

.btnAdd:hover,
.btnSubtract:hover {
  transform: scale(1.2);
}

.itemQuantity {
  width: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.addToCartBtn,
.toCheckoutBtn {
  color: white;
  background-color: #ef9102;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.addToCartBtn:hover,
.toCheckoutBtn:hover {
  background-color: #17b735;
  transform: scale(1.06);
}

.goBackBtn {
  color: white;
  background-color: #ef9102;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.goBackBtn:hover {
  transform: scale(1.1);
  background-color: #17b735;
}

@media (max-width: 550px) {

.container {
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.itemPageImg {
  width: 250px;
  padding: 10px;
}

.itemInfoContainer {
  width: 250px;
  flex-direction: column;
  padding: 0;
  margin-top: 10px;
}

.itemTitle {
  font-size: 20px;
}

.ratingContainer {
  margin-top: 10px;
}

.ratingContainer>img {
  width: 20px;
}

.itemPrice {
  font-size: 20px;
}

.aboutTitle {
  margin-top: 5px;
  padding-top: 15px;
}

.itemDescription {
  font-size: 20px;
}

.goBackBtn {
  width: 200px;
  padding: 10px;
}

}