* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Courgette-Regular";
  src: url(../../assets/fonts/Courgette-Regular/Courgette-Regular.ttf);
}

.mainContainer,
.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.mainContainer {
  position: sticky;
  top: 0;
  background-color: #ef9102;
}

.navContainer {
  align-items: center;
  width: 400px;
}

.shopName {
  font-family: "Courgette-Regular";
  font-size: 50px;
  margin: 5px 0px 10px 0px;
}

a {
  color: white;
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
}

.navContainer>a:hover {
  border-bottom: 5px solid white;
}

.cartLink {
  position: relative;
}

.itemsNumber {
  position: absolute;
  top: -12px;
  right: -12px;
  font-size: 15px;
}

img {
  width: 25px;
}
